/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: 100%;
  background-color: white;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem; 
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0 2rem; 
}

.icon-links {
  display: flex;
  list-style: none;
  gap: 3rem;
  margin: 0 2rem; 
}

.nav-item {
  font-weight: 600;
  text-decoration: none; 
  color: black; 
  transition: color 0.2s ease;
}

.nav-item:hover {
  color: #555; 
}

/* Header */

.header-home {
    position: relative;
  }
  
  .background-img {
    width: 100%;
  }
  
  .overlay-box {
    width: 743px;
    height: 343px;
    position: absolute;
    bottom: 0;
    left: 60%; 
    transform: translateX(-20%); 
    background-color: #fff3e3; 
    border-radius: 10px 10px 0 0;
    padding: 1rem;
  }

  /* Apply Button */

  .apply-btn {
    background-color: #f59e0b; 
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .apply-btn:hover {
    background-color: #d97706; 
  }

  /* Card Category */
  .category-image {
    margin-bottom: 1.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .category-image:hover {
    transform: translate(5px, 5px);
    box-shadow: 0 25px 35px rgba(0, 0, 0, 0.2);
  }
  
  .category-text {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
  }
  
  .category-text:hover {
    text-decoration: underline;
  }
  
  
  /* Advantage */

.advantage {
  display: flex;
  gap: 1rem;
}

.advantage-icon {
  width: 50px; 
}

.advantage-content {
  display: flex;
  flex-direction: column;
}

.advantage-title {
  font-weight: 600;
  font-size: 2rem; 
}

.advantage-subtitle {
  font-size: 1.25rem; 
  color: #6b7280; 
}

/* Category Section */

.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.5rem; 
}

.section-title {
  font-weight: bold;
  font-size: 2rem; 
  padding-top: 6rem; 
  padding-bottom: 6rem; 
}

.category-grid {
  display: flex;
  gap: 1.25rem; 
  text-align: center;
}


/* Card Category */

.card-category {
  text-align: center;
}

.card-category-image {
  margin-bottom: 1.75rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-category-image:hover {
  transform: translate(0.25rem, 0.25rem);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.card-category-title {
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  transition: text-decoration 0.2s ease-in-out;
}

.card-category-title:hover {
  text-decoration: underline;
}

.products-section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-bottom: 2.5rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}


/* Card Product */

.card-product {
  width: 285px;
  height: 550px;
  position: relative;
}

.card-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.card-product:hover .card-overlay {
  display: block;
}

.card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 23, 42, 0.6); 
  transition: opacity 0.5s ease;
}

.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.card-link {
  color: #3b82f6;
  font-weight: 600;
  background-color: white;
  padding: 0.75rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s;
}

.card-link:hover {
  background-color: #e5e7eb; 
}

.card-icons {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.icon-item {
  display: flex;
  gap: 0.25rem;
  color: white;
  font-weight: 600;
}

.card-content {
  width: 285px;
  height: 550px;
  background-color: #f3f4f6; 
  position: relative;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
}

.new-badge {
  background-color: #22c55e;
}

.discount-badge {
  background-color: #ef4444; 
}

.image-container {
  width: 285px;
  height: 300px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-details {
  padding: 1rem;
}

.product-name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.product-description {
  color: #6b7280; 
  margin-bottom: 0.5rem;
}

.product-pricing {
  display: flex;
  gap: 1rem;
}

.current-price {
  font-weight: 600;
  font-size: 1.25rem;
}

.original-price {
  color: #6b7280;
  text-decoration: line-through;
}



/* Advantage Section */

.advantages-section {
  display: flex;
  justify-content: center;
  gap: 3.5rem; 
  background-color: #f9f1e7; 
  padding: 6rem 0; 
}

/* filterModal */

.filter-modal-container {
  position: relative;
}

.filter-button {
  display: flex;
  gap: 8px;
  font-size: 1.25rem;
  align-items: center;
  padding: 0.5rem;
  transition: background-color 0.3s;
  cursor: pointer;
  background-color: transparent; 
  border: none;

}

.filter-button:hover {
  background-color: #fed7aa;
  border-radius: 0.25rem;
}

.filter-form {
  position: absolute;
  top: 100%;
  margin-top: 0.25rem;
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #fed7aa;
  border-radius: 0.75rem;
  padding: 1rem;
  width: 25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-title {
  font-weight: 600;
  font-size: 1.25rem;
}

.filter-field {
  display: flex;
  justify-content: space-between;
}

.filter-select,
.filter-input {
  border: 1px solid #e2e8f0;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.filter-checkbox {
  display: flex;
  align-items: center;
}

.filter-checkbox label {
  margin-left: 0.5rem;
}

.filter-button-container {
  display: flex;
  justify-content: center;
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #c6f6d5; 
  color: #22543d; 
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Flipper */
.flipper-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.flipper-button {
  background-color: #e2e8f0;
  color: #333;
  font-size: 1.25rem;
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.flipper-button:hover {
  background-color: #3182ce;
  color: #fff;
}

.flipper-page {
  background-color: #e2e8f0;
  color: #333;
  font-size: 1.25rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.flipper-current {
  background-color: #3182ce;
  color: #fff;
}


/* Footer */

.footer {
  padding: 3rem 6rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.footer-text {
  color: #6b7280; 
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-heading {
  color: #6b7280; 
}

.footer-link {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-newsletter {
  margin-bottom: 3rem;
}

.footer-input {
  border: none; 
  border-bottom: 1px solid #000; 
  padding: 5px 0; 
  width: 50%; 
  background-color: transparent; 
  color: #000;
  transition: border-bottom 0.2s ease-in-out;
  margin-right: 5px;
}

.footer-input:focus {
  border-bottom: 1px solid #555;
  outline: none; 
}

.footer-button {
  background: none; 
  border: none; 
  color: #000; 
  font-weight: bold; 
  text-decoration: underline; 
  cursor: pointer; 
  padding: 0; 
  transition: color 0.2s ease-in-out;
  text-decoration-thickness: 1px; 
  text-underline-offset: 8px; 
}

.footer-button:hover {
  color: #555; 
}


.footer-divider {
  margin: 2rem 0;
}

.footer-copyright {
  text-align: left;
  margin-top: 1rem;
}