/* home.css */

.products-heading {
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  
  .show-more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
  }
  
  .load-more-button {
    color: #B88E2F;
    padding: 0.5rem 1.5rem;
    border: 2px solid #B88E2F;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 45px;
    width: 250px;
  }
  
  .load-more-button:hover {
    background-color: #f3d0a4;
  }